---
export interface Props {
  className?: string
  containerClassName?: string
  label: string
  error?: string
  name: string
}

const { name, label, className, containerClassName, error } = Astro.props
---

<div class={`flex flex-row items-center gap-2 ${containerClassName}`}>
  <input id={name} name={name} type='checkbox' class='w-5 h-5' />
  <label class='font-semibold text-gray-900 dark:text-white' for={name}
    >{label}</label
  >
</div>
