---
import Button from './Button.astro'
import Input from './Input.astro'
import TextArea from './TextArea.astro'
---

<section class='' id='contact'>
  <div class='mx-auto max-w-7xl px-4 py-16 sm:px-6 lg:px-8 lg:py-20'>
    <div class='mb-4'>
      <div
        class='mb-6 max-w-3xl text-center sm:text-center md:mx-auto md:mb-12'
      >
        <p
          class='text-base font-semibold uppercase tracking-wide text-blue-600 dark:text-blue-200'
        >
          Contact
        </p>
        <h2
          class='font-heading mb-4 font-bold tracking-tight text-blue-950 dark:text-white text-3xl sm:text-5xl'
        >
          Get in Touch
        </h2>
        <p
          class='mx-auto mt-4 max-w-3xl text-xl text-gray-600 dark:text-slate-400'
        >
          Our door is always open for a good cup of coffee.
        </p>
      </div>
    </div>
    <div class='flex items-stretch justify-center'>
      <div class='grid md:grid-cols-2'>
        <div class='h-full pr-6'>
          <p class='mb-12 text-lg text-gray-600 dark:text-slate-400'>
            We're just one click away to help you take your brand or product
            from great to incredible. Fill in the form to share more details
            about your project. Or your favorite gum flavor. Either way, we’d
            love to talk.
          </p>
          <ul class='mb-6 md:mb-0'>
            <li class='flex'>
              <div
                class='flex h-10 w-10 items-center justify-center rounded bg-blue-500 text-gray-50'
              >
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentColor'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  class='h-6 w-6'
                >
                  <path d='M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0'></path>
                  <path
                    d='M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z'
                  >
                  </path>
                </svg>
              </div>
              <div class='ml-4 mb-4'>
                <h3
                  class='text-lg font-medium leading-6 text-gray-900 dark:text-white'
                >
                  Our Address
                </h3>
                <p class='text-gray-600 dark:text-slate-400'>
                  B-18 Prithviraj Nagar, Jhalamand
                </p>
                <p class='text-gray-600 dark:text-slate-400'>
                  Jodhpur, Rajasthan
                </p>
              </div>
            </li>
            <li class='flex'>
              <div
                class='flex h-10 w-10 items-center justify-center rounded bg-blue-500 text-gray-50'
              >
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentColor'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  class='h-6 w-6'
                >
                  <path
                    d='M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2'
                  >
                  </path>
                  <path d='M15 7a2 2 0 0 1 2 2'></path>
                  <path d='M15 3a6 6 0 0 1 6 6'></path>
                </svg>
              </div>
              <div class='ml-4 mb-4'>
                <h3
                  class='text-lg font-medium leading-6 text-gray-900 dark:text-white'
                >
                  Contact
                </h3>
                <p class='text-gray-600 dark:text-slate-400'>
                  Mobile: +91 8947822458
                </p>
                <p class='text-gray-600 dark:text-slate-400'>
                  Mail: mridulmr@outlook.com
                </p>
              </div>
            </li>
            <li class='flex'>
              <div
                class='flex h-10 w-10 items-center justify-center rounded bg-blue-500 text-gray-50'
              >
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentColor'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  class='h-6 w-6'
                >
                  <path d='M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0'></path>
                  <path d='M12 7v5l3 3'></path>
                </svg>
              </div>
              <div class='ml-4 mb-4'>
                <h3
                  class='text-lg font-medium leading-6 text-gray-900 dark:text-white'
                >
                  Working hours
                </h3>
                <p class='text-gray-600 dark:text-slate-400'>
                  Monday - Friday: 08:00 - 17:00
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div class='card h-fit max-w-6xl' id='form'>
          <form class='flex flex-col gap-4'>
            <div class='flex-1'>
              <Input
                label='FullName'
                name='fullname'
                placeholder='Enter your fullname here'
                type='text'
                error={null}
              />
            </div>
            <div class='flex flex-col md:flex-row gap-2'>
              <div class='flex-1'>
                <Input
                  label='Email'
                  name='email'
                  placeholder='Enter your email here'
                  type='email'
                  error={null}
                />
              </div>
              <div class='flex-1'>
                <Input
                  label='Phone Number'
                  name='phone'
                  placeholder='Enter your phone number here'
                  type='number'
                  error={null}
                />
              </div>
            </div>
            <div class='flex-1'>
              <Input
                label='Subject'
                name='subject'
                placeholder='Enter your subject here'
                type='text'
                error={null}
              />
            </div>
            <div class='flex-1'>
              <TextArea
                label='Message'
                name='message'
                placeholder='Enter your message here'
                error={null}
              />
            </div>
            <div class='flex-1'>
              <Button
                type='submit'
                variant={'primary'}
                className={'min-w-max text-white'}
              >
                <span class='hidden sm:flex relative z-[5]'> Submit</span>
                <span class='flex sm:hidden relative z-[5]'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    fill='none'
                    viewBox='0 0 24 24'
                    stroke-width='1.5'
                    stroke='currentColor'
                    class='w-5 h-5'
                  >
                    <path
                      stroke-linecap='round'
                      stroke-linejoin='round'
                      d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
                    ></path>
                  </svg>
                </span>
              </Button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
