---
import { Image } from 'astro:assets'
import Paragraph from '../shared/Paragraph.astro'

export interface Props {
  description: string
  image: string
  key: string
  grid: boolean
}

const { key, image, description, grid } = Astro.props
---

{
  grid ? (
    <a href={`/solutions/${key}`} class='group'>
      <div class='slide shadow-2xl flex-shrink-0 w-[100%] h-[calc(70vw*1.5)] md:h-[calc(35vw*1.5)] lg:h-[calc(25vw*1.5)] xl:h-[calc(16vw*1.5)] overflow-clip relative mx-2 snap-center rounded-3xl'>
        <Image
          width={100}
          height={100}
          loading='lazy'
          decoding='async'
          src={image}
          alt={image}
          class='block w-full h-full object-cover object-center absolute right-0 animate-parallax [animation-timeline:view(x)]'
        />
        <div class='bg-[#ffffff90] dark:bg-blue-950 rounded-3xl backdrop-blur-lg text-center absolute top-[100%] invisible items-center bottom-0 left-0 right-0 p-5 group-hover:visible group-hover:top-[15%] md:group-hover:top-[40%] transition-all'>
          <Paragraph className='whitespace-normal !text-sm'>
            {description}
          </Paragraph>
        </div>
      </div>
    </a>
  ) : (
    <a href={`/solutions/${key}`} class='group'>
      <div class='slide shadow-2xl flex-shrink-0 w-[60vw] h-[calc(55vw*1.5)] sm:w-[40vw] sm:h-[calc(35vw*1.5)] md:w-[25vw] md:h-[calc(20vw*1.5)] overflow-clip relative mx-2 snap-center rounded-3xl'>
        <Image
          width={100}
          height={100}
          loading='lazy'
          decoding='async'
          src={image}
          alt={image}
          class='block w-full h-full object-cover object-center absolute right-0 animate-parallax [animation-timeline:view(x)]'
        />
        <div class='bg-[#ffffff90] dark:bg-blue-950 rounded-3xl backdrop-blur-lg text-center absolute top-[100%] invisible items-center bottom-0 left-0 right-0 p-5 group-hover:visible group-hover:top-[15%] md:group-hover:top-[40%] transition-all'>
          <Paragraph className='whitespace-normal'>{description}</Paragraph>
        </div>
      </div>
    </a>
  )
}
