---
import Container from "../components/shared/Container.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import Layout from "../layouts/Layout.astro";
import Input from "../components/shared/Input.astro";
import TextArea from "../components/shared/TextArea.astro";
import Button from "../components/shared/Button.astro";
---

<Layout title="Contact Us | Bitwit Techno">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <section class="relative pt-32 lg:pt-36">
      <Container
        className={"flex flex-col items-center lg:flex-row gap-10 lg:gap-12"}
      >
        <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0">
          <span
            class="absolute -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-blue-200 blur-xl opacity-60 lg:opacity-95 lg:block hidden"
          ></span>
          <span
            class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"
          ></span>
        </div>
        <span
          class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-blue-100 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"
        ></span>
        <div
          class="flex flex-col items-center gap-4 md:gap-8 text-center lg:text-left lg:py-7 xl:py-8
              lg:items-start lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
        >
          <h1
            class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
                   font-bold text-heading-1"
          >
            Contact <span
              class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-blue-400"
              >Us</span
            >
          </h1>
          <Paragraph>
            Engage with our IT experts for inquiries, support, or collaboration.
            Connect with us to innovate and elevate your digital experience.
          </Paragraph>
        </div>

        <div class="flex-1 z-10">
          <img
            src="/images/contact-us.webp"
            alt="Hero image"
            width="2350"
            height="2359"
            class="w-7/12 rounded-3xl object-contain m-auto"
          />
        </div>
      </Container>
      <Container className="flex gap-8 mt-8">
        <div class="flex-1">
          <form class="flex flex-col gap-4">
            <div class="flex-1">
              <Input
                label="FullName"
                name="fullname"
                placeholder="Enter your fullname here"
                type="text"
                error={null}
              />
            </div>
            <div class="flex gap-2">
              <div class="flex-1">
                <Input
                  label="Email"
                  name="email"
                  placeholder="Enter your email here"
                  type="email"
                  error={null}
                />
              </div>
              <div class="flex-1">
                <Input
                  label="Phone Number"
                  name="phone"
                  placeholder="Enter your phone number here"
                  type="number"
                  error={null}
                />
              </div>
            </div>
            <div class="flex-1">
              <Input
                label="Subject"
                name="subject"
                placeholder="Enter your subject here"
                type="text"
                error={null}
              />
            </div>
            <div class="flex-1">
              <TextArea
                label="Message"
                name="message"
                placeholder="Enter your message here"
                error={null}
              />
            </div>
            <div class="flex-1">
              <Button
                type="submit"
                variant={"primary"}
                className={"min-w-max text-white"}
              >
                <span class="hidden sm:flex relative z-[5]">Submit</span>
              </Button>
            </div>
          </form>
        </div>
        <div class="flex-1">
            Address
        </div>
      </Container>
    </section>
  </main>
</Layout>
