---
import { Image } from 'astro:assets'
import { GetBlog } from '../../api'
import HeroBlogs from '../../components/sections/HeroBlogs.astro'
import Button from '../../components/shared/Button.astro'
import Container from '../../components/shared/Container.astro'
import Layout from '../../layouts/Layout.astro'
import Title from '../../components/shared/Title.astro'
import moment from 'moment'
import { database } from 'firebase-admin'

export async function getStaticPaths() {
  const { Blogs, Users, Categories, Tags } = await GetBlog()

  return Blogs.map((item) => {
    return {
      params: { slug: item.slug },
      props: {
        BlogDetails: Blogs.filter((data) => data.slug === item.slug),
        BlogIndex: Blogs.findIndex((data) => data.slug === item.slug),
        Users: Users.filter((data) => data.id === item.user),
        Blogs,
        Tags,
        FilteredTags: Tags.filter((data) => item.tags.includes(data.id)),
        Categories
      }
    }
  })
}
const { BlogDetails, BlogIndex, Blogs, Tags, Categories, Users, FilteredTags } =
  Astro.props
if (!BlogDetails) return Astro.redirect('/404')
---

{
  BlogDetails && (
    <Layout
      title={`${BlogDetails[0].meta.description} | Bitwit Techno`}
      description={BlogDetails[0].meta.description}
      image={BlogDetails[0].image}
    >
      <main class='flex flex-col gap-y-20 md:gap-y-32 overflow-hidden'>
        <HeroBlogs breadcrumb={true} />
        <Container>
          <div class='grid grid-cols-12 gap-[30px]'>
            <div class='lg:col-span-8 col-span-12 pb-10 rounded-lg bg-gray-50 dark:bg-box-bg overflow-hidden'>
              {BlogDetails[0].image && (
                <Image
                  src={BlogDetails[0].image}
                  alt='avatar'
                  width={100}
                  height={100}
                  class='w-full'
                  loading='lazy'
                  decoding='async'
                />
              )}
              <div class='p-5 md:p-10'>
                <Title>{BlogDetails[0].title}</Title>
                <ul class='flex justify-between items-center mt-5'>
                  <li class='flex items-center gap-2'>
                    {Users[0].avatar && (
                      <Image
                        src={Users[0].avatar}
                        alt='avatar'
                        width='30'
                        height='30'
                        class='rounded-full shadow-lg'
                        loading='lazy'
                        decoding='async'
                      />
                    )}
                    <span class='dark:text-gray-500'>{Users[0].full_name}</span>
                  </li>
                  <li class='flex items-center gap-2'>
                    <svg
                      xmlns='http://www.w3.org/2000/svg'
                      width='18'
                      height='18'
                      viewBox='0 0 18 18'
                      fill='none'
                    >
                      <path
                        d='M2.32031 7.05285H15.6883'
                        stroke='#1d4ed8'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                      <path
                        d='M12.3283 9.98254H12.3352'
                        stroke='#1d4ed8'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                      <path
                        d='M9.00018 9.98254H9.00712'
                        stroke='#1d4ed8'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                      <path
                        d='M5.67205 9.98254H5.679'
                        stroke='#1d4ed8'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                      <path
                        d='M12.3283 12.8976H12.3352'
                        stroke='#1d4ed8'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                      <path
                        d='M9.00018 12.8976H9.00712'
                        stroke='#1d4ed8'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                      <path
                        d='M5.67205 12.8976H5.679'
                        stroke='#1d4ed8'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                      <path
                        d='M12.0349 1.5V3.96809'
                        stroke='#1d4ed8'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                      <path
                        d='M5.9724 1.5V3.96809'
                        stroke='#1d4ed8'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                      <path
                        fill-rule='evenodd'
                        clip-rule='evenodd'
                        d='M12.1787 2.68457H5.82822C3.6257 2.68457 2.25 3.91152 2.25 6.16684V12.9541C2.25 15.2449 3.6257 16.5002 5.82822 16.5002H12.1718C14.3812 16.5002 15.75 15.2661 15.75 13.0108V6.16684C15.7569 3.91152 14.3882 2.68457 12.1787 2.68457Z'
                        stroke='#1d4ed8'
                        stroke-width='1.5'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                      />
                    </svg>
                    <span class='dark:text-gray-500'>
                      {BlogDetails[0].created_at &&
                        BlogDetails[0].created_at.seconds &&
                        moment
                          .unix(BlogDetails[0].created_at.seconds)
                          .format('MMMM DD, YYYY')}
                    </span>
                  </li>
                </ul>
                <div class='blog-details mt-10'>
                  <div class='small' set:html={BlogDetails[0].content} />
                </div>
              </div>
              <ul class='pt-0 p-5 md:p-10 md:pt-0 flex gap-3 flex-wrap'>
                {FilteredTags?.map((item: any) => (
                  <li class='px-3 py-1 rounded text-base transition-all duration-150 bg-white dark:bg-blue-500 dark:bg-opacity-10 dark:text-gray-500'>
                    {item.name}
                  </li>
                ))}
              </ul>
              <div class='pt-0 p-5 md:p-10 md:pt-0'>
                <p class='text-xl font-bold text-blue-950 dark:text-white'>
                  Share On:
                </p>
                <div class='flex flex-wrap mt-3'>
                  <a
                    href={`https://www.facebook.com/sharer/sharer.php?u=${Astro.url.href}`}
                    target='_blank'
                    rel='noopener'
                  >
                    <Image
                      width={40}
                      height={40}
                      src='/logos/facebook.webp'
                      alt='/logos/facebook.webp'
                    />
                  </a>
                  <a
                    href={`https://www.linkedin.com/sharing/share-offsite/?url=${Astro.url.href}`}
                    target='_blank'
                    rel='noopener'
                  >
                    <Image
                      width={40}
                      height={40}
                      src='/logos/linkedin.webp'
                      alt='/logos/linkedin.webp'
                    />
                  </a>
                  <a
                    href={`http://twitter.com/share?text=${BlogDetails[0].title}&url=${Astro.url.href}`}
                    target='_blank'
                    rel='noopener'
                  >
                    <Image
                      width={40}
                      height={40}
                      src='/logos/twitter.webp'
                      alt='/logos/twitter.webp'
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class='lg:col-span-4 col-span-12'>
              <div class='space-y-[30px]'>
                <form
                  action='#'
                  class='py-1 pl-6 w-full pr-1 flex gap-3 items-center text-heading-3 shadow-lg shadow-box-shadow
                      border border-box-border bg-box-bg rounded-full ease-linear focus-within:bg-body focus-within:border-primary'
                >
                  <input
                    type='text'
                    name='search'
                    id='search'
                    placeholder='Search Blog'
                    class='w-full py-3 outline-none bg-transparent'
                  />
                  <Button
                    variant={'primary'}
                    className={'min-w-max text-white'}
                    type='button'
                    title='get-started'
                  >
                    <span class='hidden sm:flex relative z-[5]'>Search</span>
                    <span class='flex sm:hidden relative z-[5]'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        fill='none'
                        viewBox='0 0 24 24'
                        stroke-width='1.5'
                        stroke='currentColor'
                        class='w-5 h-5'
                      >
                        <path
                          stroke-linecap='round'
                          stroke-linejoin='round'
                          d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
                        />
                      </svg>
                    </span>
                  </Button>
                </form>
                <div class='bg-white dark:bg-box-bg p-5 rounded-lg shadow-lg shadow-box-shadow'>
                  <h4 class='font-bold text-xl text-blue-950 dark:text-gray-400'>
                    Categories
                  </h4>

                  <ul class='mt-4 space-y-4'>
                    {Categories?.map((item: any) => (
                      <li class='block'>
                        <a
                          href={`#${item.id}`}
                          class='flex justify-between bg-gray-50 dark:bg-blue-500 dark:bg-opacity-10 py-4 px-5 rounded-md hover:dark:bg-blue-500 hover:bg-blue-500 hover:text-white dark:text-gray-500 hover:dark:text-white transition-all
                              duration-150'
                        >
                          <span>
                            {item.name} ({item.count})
                          </span>
                          <span class='text-2xl'>
                            <svg
                              xmlns='http://www.w3.org/2000/svg'
                              width='1em'
                              height='1em'
                              viewBox='0 0 20 20'
                            >
                              <path
                                fill='currentColor'
                                fill-rule='evenodd'
                                d='M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10L8.22 6.28a.75.75 0 0 1 0-1.06'
                                clip-rule='evenodd'
                              />
                            </svg>
                          </span>
                        </a>
                      </li>
                    ))}
                  </ul>
                </div>

                <div class='bg-white dark:bg-box-bg p-5 rounded-lg shadow-lg shadow-box-shadow'>
                  <h4 class='font-bold text-xl text-blue-950 dark:text-gray-400'>
                    Popular Tags
                  </h4>
                  <ul class='mt-4 flex gap-3 flex-wrap'>
                    {Tags?.map((item: any) => (
                      <a
                        href={`#${item.id}`}
                        class='px-3 py-1 rounded text-base transition-all duration-150 bg-gray-50 dark:bg-blue-500 dark:bg-opacity-10 hover:dark:bg-blue-500 hover:bg-blue-500 hover:text-white dark:text-gray-500 hover:dark:text-white'
                      >
                        {item.name}
                      </a>
                    ))}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </Container>
      </main>
    </Layout>
  )
}
